@import '../node_modules/bootstrap/scss/bootstrap.scss';

.navHeader{
    padding: 50px;
    background-color: #077186;
    ul{
        list-style-type: none;
        li{
            padding: 10px;
            float: right;
        }
    }
    a{
        font-weight: bold;
        text-decoration: none;
        color:white; 
        &:hover{
            color: 	#D4F1F4;
        }
    }
}

.homePage{
    header h1 {
        font-size: 70px;
        font-weight: 600;
        color:#b134f5;
      }

    section{
        background-color: #077186;
        color: white;
        padding: 20px;
    }

    footer{
        background-color:#b134f5 ;
        color: white;
        font-weight: bold;
        border-radius: 10px;
        padding-left: 25%;
        padding-right: 25%;
        p{
            padding: 10px;
        }
    }
}

.formDiv{
    header h1 {
        font-size: 70px;
        font-weight: 600;
        color:#b134f5;
      }

    h2{
        color: #05445E;
    }

    label{
        font-weight: bold;
        padding: 7px;
    }

    input{
        border: 2px solid lightgray;
        border-radius: 4px;
        padding-left: 7px;
        &:focus{
            border:  2px solid #C55FFC;
        }
      }
}

.basicButton{
    padding: 5px;
    margin: 5px;
    border: 3px solid  #077186;
    background-color:  #077186;
    font-weight: bold;
    color:white;
    border-radius:3px;
    &:hover{
        background-color:  #05445E;
        border-color: #05445E;
    }
}

.signOutButton{
    background-color: white;
    border: 3px solid #05445E;
    font-weight: bold;
    color:#05445E;
    border-radius:3px;
    &:hover{
        background-color:  #05445E;
        border-color: #05445E;
        color: white;
    }
}

.randomText{
    color: #05445E;
    font-weight: bold;
    margin-top: 5px;
}

.accountPage{
    header h1{
        color:#05445E;
        padding-top: 15px;
    }
    
    h2{
        background-color: #077186;
        color: #D4F1F4;
    }

    h3{
        color:#C55FFC;
    }
}

